@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Zen+Dots&display=swap');

body{
    background-color: black;
}
.aboutpage{
    background-image:  url(donebackground.jpg) ;
    background-size: 2000px;
}
.membership{
    background-image: url(donebackground.jpg);
}
.navbar{
    font-size: medium;
    position: absolute;
    font-family: "Comfortaa", sans-serif;
    right: 90px;
    top: 0cm;
    padding: 20px;
    color: whitesmoke;
}
#li1{
    display: inline-block;
    position: absolute;
    right: 500px;
    top: 50px;
    list-style-type: none;
}
#li2{
    display: inline-block;
    position: absolute;
    right: 240px;
    top: 50px;
    bottom: 45px;
}
#li3{
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 50px;
}
.homeCon{
    display: grid;
    /* background-color: red; */
    grid-template-columns: 2fr 1fr;
    margin-top: 12rem;
}
.con1{
/* background-color: green;     */
font-family: "Zen Dots", sans-serif;
color: greenyellow;
margin-left: 8rem;
}
.con2{
    /* background-color: blue;     */
}

.mainhead{
    /* position: absolute; */
    font-family: "Zen Dots", sans-serif;
    font-size: 6rem;
    color: greenyellow;
    line-height: 55%;
}
.mainpara{
    font-size: large;
    font-family: "Comfortaa", sans-serif;
    color: whitesmoke;
}
.button{
    margin-top: 3rem;
    margin-left: 1.5rem;
    font-family: "Zen Dots",sans-serif;
    font-size: 20px;
    border-color: greenyellow;
    border-width: 5px;
    border-style: outset;
    border-radius: 15px;
    background-color:greenyellow;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#aboutus{
    position: absolute;
    /* margin-left: 500px; */
    font-family: "Zen Dots", sans-serif;
    /* margin-left: 42%; */
    margin-top: 90px; 
    font-size: 60px;
    color:greenyellow;
}

#aboutpara{
    position: absolute;
    margin-top:400px;
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-size: 20px;
    /* padding-inline: 50px; */
    margin-left: 5%; 
    margin-right: 5%; 
    text-align: center;
    color: whitesmoke;
}
#get{
    position: absolute;
    margin-top: 40%;
    font-family: "Zen Dots", sans-serif;
    font-size: 50px;
    color: greenyellow;
}
#copyright{
    position: absolute;
    color: whitesmoke;
    font-family: "Outfit",sans-serif;
    font-size: 20px;
    margin-top: 1000px;
    padding: 20px;
}
#copypara{
    position: absolute;
    color: whitesmoke;
    font-family:"Outfit",sans-serif;
    font-size: 20px;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1150px;
}
#contact{
    color: whitesmoke;
    font-family: "Outfit",sans-serif;
    font-size: 20px;
    position: absolute;
    margin-top: 1500px;
    text-align: center;
    
}
#mail{
    color: whitesmoke;
    font-family: "Outfit",sans-serif;
    font-size: 20px;
    position: absolute;
    margin-top: 1600px;
    text-align: center;
}
#num{
    
    color: whitesmoke;
    font-family: "Outfit",sans-serif;
    font-size: 20px;
    position: absolute;
    margin-top: 1700px;
    text-align: center;
}
#locate{
    position: absolute;
    margin-top: 1500px;
    width: 40px;
    height: 40px;
    left: 800px;
}
#mailimg{
    position: absolute;
    margin-top: 1603px;
    width: 28px;
    height: 28px;
    left: 830px;
}
#phone{
    position: absolute;
    margin-top: 1703px;
    width: 28px;
    height: 28px;
    left: 860px;
} 
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    color: greenyellow;
    font-family: "Zen dots",sans-serif;
    font-size: 30px;
}   

.plans{
    border: 2px solid whitesmoke;
    background-color: #FFFFF7;
    width: 300px;
    height: 300px;
    border-radius: 50px;
    font-family: "Outfit",sans-serif;
    /* font-weight: 600; */
    text-align: center;
    box-shadow: 1px 1px 6px whitesmoke; 
    margin-left: 250px;
    margin-top: 8%;
    line-height: 30px;
    color:black;
    
}
#elite{
    height: 390px;
    position: absolute;
    margin-left: 70%;
}
.elitebutton{
    position: absolute;
    width: 170px;
    font-family: "Zen Dots",sans-serif;
    font-size: 20px;
    top: 340px;
    left: 62px;
    border:2px solid black;
    border-width: 5px;
    border-radius: 15px;
    background-color:greenyellow;
    border-style: groove;
}

#basic{
    position: absolute;
    height: 390px;
}
.basicbutton{
    position: absolute;
    width: 170px;
    font-family: "Zen Dots",sans-serif;
    font-size: 20px;
    top: 315px;
    left: 60px;
    border:2px solid black;
    border-width: 5px;
    border-radius: 15px;
    background-color:greenyellow;
    border-style: groove;
}
#premium{
    position: absolute;
    margin-left: 40%;
    height:390px;

}
.premiumbutton{
    position: absolute;
    width: 170px;
    font-family: "Zen Dots",sans-serif;
    font-size: 20px;
    top: 310px;
    left: 60px;
    border:2px solid black;
    border-width: 5px;
    border-radius: 15px;
    background-color:greenyellow;
    border-style: groove;
}
#basic1{
    padding-right: 40px;
}
#basic2{
    padding-right: 40px;
}
#basic3{
    padding-right: 42px;
}
#basic4{
    padding-right: 40px;
    line-height: 50px;
}

#premium1{
    padding-right: 40px;
}
#premium2{
    padding-right: 38px;
}
#premium3{
    padding-right: 36px;
}
#premium4{
    padding-right: 36px;
}

#premium5{
    padding-right: 36px;
}
#elite1{
    padding-right: 36px;
}
#elite2{
    padding-right: 36px;
}
#elite3{
    padding-right: 36px;
}
#elite4{
    padding-right: 36px;
}
#elite5{
    padding-right: 36px;
}
#elite6{
    padding-right: 36px;
}
#elite7{
    padding-right: 36px;
}
